@import '../../style/mixins/_border.scss';
$name: '.caf-btn';
$color_default: #dedede;
$color_primary: #4f81bf;
$color_warning: #e46060;
#{$name} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  @include pixelBorder(6px);
  &-icon {
    padding: 0 5px;
  }
  &__t {
    &_default {
      background-color: #fff;
      border-color: $color_default;
      &::after {
        border-color:  $color_default;
      }
    }
    &_primary {
      background-color: $color_primary;
      color: #fff;
      border-color: $color_primary;
      &::after {
        border-color: $color_primary;
      }
      &#{$name}__ghost {
        color: $color_primary;
      }
    }
    &_warning {
      background-color: $color_warning;
      color: #fff;
      border-color: $color_warning;
      &::after {
        border-color: $color_warning;
      }
      &#{$name}__ghost {
        color: $color_warning;
      }
    }
  }
  &__s {
    &_large {
      height: 50px;
      padding: 0 20px;
      font-size: 16px;
      &#{$name}__round {
        border-radius: 50px;
        &::after {
          border-radius: 50px;
        }
      }
    }
    &_normal {
      height: 42px;
      padding: 0 15px;
      font-size: 14px;
      &#{$name}__round {
        border-radius: 42px;
        &::after {
          border-radius: 42px;
        }
      }
    }
    &_small {
      height: 36px;
      padding: 0 10px;
      font-size: 12px;
      &#{$name}__round {
        border-radius: 36px;
        &::after {
          border-radius: 36px;
        }
      }
    }
    &_tiny {
      height: 24px;
      padding: 0 5px;
      font-size: 12px;
      transform: scale(0.83333);
      &#{$name}__round {
        border-radius: 24px;
        &::after {
          border-radius: 24px;
        }
      }
    }
  }
  &__reverse {
    flex-direction: row-reverse;
  }
  &__block {
    display: flex;
  }
  &__ghost {
    background-color: transparent;
  }
  &__disabled {
    opacity: 0.6;
  }
  &__square {
    border-radius: 0;
    &::after {
      border-radius: 0!important;
    }
  }
}