
@mixin ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@mixin fixed {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  min-width: 320px;/* no */
  max-width: 480px;/* no */
}

@mixin tabFixed {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}

@mixin tcMiddle {
  display: table-cell;
  vertical-align: middle;
}

@mixin vhCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}