@import '../style/mixins/_display.scss';
.caf-tabbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
  color: #999;
  border-radius: 16px 16px 0 0;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  &__item {
    flex: 1;
    &__icon {
      display: inline-block;
      height: 24px;
      width: 24px;
      background-size: contain;
      background-position: center;
    }
    &--disabled {
      color: #aaa;
    }
  }
  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}