$sidewidth: 240px;
$headheight: 80px;
.caf-doc {
  &-head {
    display: flex;
    align-items: center;
    height: $headheight;
    line-height: $headheight;
    background-color: #fff;
    box-shadow: 0 0 6px #e2e2e2;
    .head {
      &-icon {
        height: $headheight;
        width: 50px;
        text-align: center;
        // line-height: 36px;
        display: none;
        &__menu {
          line-height: #{$headheight * 0.8};
        }
        &__github {
          display: block;
          background: url(/assets/github.svg) no-repeat center/28px;
        }
      }
      &-bar {
        flex: 1;
        padding: 0 20px;
        &-logo {
          height: 24px;
        }
      }
    }
  }
  &-main {
    margin-top: 20px;
    position: relative;
    display: flex;
    height: calc(100vh - #{$headheight});
    overflow: auto;
  }
  &-side {
    position: absolute;
    width: $sidewidth;
    height: calc(100vh - #{$headheight});
    left: 0;
    top: 0;
    z-index: 20;
    &-wrapper {
      position: relative;
      width: $sidewidth;
      transition: transform 0.3s;
      height: 100%;
      box-sizing: border-box;
      padding: 10px 0 30px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 2;
      background: #fff;
    }
    &-mask {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.4);
      transition: opacity 0.3s;
    }
    .nav {
      padding-left: 30px;
      &-head,
      &-item,
      &-name {
        display: block;
        padding: 15px 0 15px;
        color: #777;
        font-size: 14px;
      }
      &-head {
        padding: 10px 0;
        font-size: 12px;
        line-height: 30px;
      }
      &-name {
        font-size: 14px;
        color: #444;
        font-weight: bold;
      }
      &-item {
        padding: 8px 0 8px;
        font-weight: 300;
        &__actived {
          color: #1989fa;
        }
        &:active {
          color: #1989fa;
        }
      }
    }
  }
  &-content {
    margin-left: calc(#{$sidewidth} + 20px);
    padding: 30px;
    height: calc(100vh - #{$headheight});
    overflow: auto;
    flex: 1;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
  }
  &-simulator {
    position: relative;
    min-width: 375px; /* no */
    height: calc(100vh - #{$headheight} - 40px);
    border-radius: 18px;
    margin: 20px;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px #ccc;
    iframe {
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-code {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    max-height: 200px;
    overflow: hidden;
    border: 1px solid #eee; /* no */
    border-radius: 14px;
    transition-property: max-height;
    transition-timing-function: ease-in-out;
    background-color: #444;
    &-header {
      display: flex;
      padding: 15px 25px;
      border-bottom: 1px solid #eee; /* no */
      background-color: #fff;
      font-size: 16px;
      .title {
        flex: 1;
      }
    }
    &-body {
      flex: 1;
      margin: 15px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #444;
    }
    &-wrapper {
      line-height: 22px;
      code {
        background-color: transparent!important;
        color: #f5e2aa!important;
      }
    }
  }
}
$sideName: '.caf-doc-side';
@media (max-width: 1200px) {
  .caf {
    &-doc {
      &-head {
        .head {
          &-icon {
            &__menu {
              display: block;
            }
          }
        }
      }
      &-side {
        width: 0;
        border-radius: 0;
        &-wrapper {
          transform: translate3d(-100%, 0, 0);
          transition-delay: 0.3s;
        }
        &-mask {
          display: block;
          opacity: 0;
        }
        &[data-status='1'] {
          width: 100%;
          transform: width 0.01s 0.6s;
          #{$sideName}-wrapper {
            transform: translate3d(0, 0, 0);
          }
          #{$sideName}-mask {
            opacity: 1;
          }
        }
      }
      &-content {
        margin-left: 20px;
      }
    }
  }
}

@media (max-width: 640px) {
  .caf {
    &-doc {
      &-head {
        .head {
          &-icon {
            &__code {
              display: block;
            }
          }
        }
      }
      &-simulator {
        position: fixed;
        min-width: auto;
        height: calc(100vh - #{$headheight});
        margin: 0;
        width: 100%;
        transform: translate3d(0, 100%, 0);
        &[data-status='1'] {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .caf {
    &-doc {
      &-content {
        margin-left: 0;
      }
    }
  }
}
