@import '../style/mixins/_border.scss';
@import '../style/_var.scss';
$name: '.caf-btn';
#{$name} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  // @include pixelBorder();
  &__icon {
    padding: 0 5px;
  }
  .caf-loading {
    margin-left: -12px;
  }
  &--t {
    &-default {
      background-color: $button-default-background-color;
      // border-color: $button-default-border-color;
      // &::after {
      //   border-color: $button-default-border-color;
      // }
      &#{$name}--shadow {
        box-shadow: $button-default-box-shadow;
      }
    }
    &-primary {
      background-color: $button-primary-background-color;
      color: #fff;
      
      // border-color: $button-primary-border-color;
      // &::after {
      //   border-color: $button-primary-border-color;
      // }
      &#{$name}--ghost {
        color: $button-primary-background-color;
        border-color: $button-primary-border-color;
        &::after {
          border-color: $button-primary-border-color;
        }
      }
      &#{$name}--shadow {
        box-shadow: $button-primary-box-shadow;
      }
    }
    &-warning {
      background-color: $button-warning-background-color;
      color: #fff;
      // border-color: $button-warning-border-color;
      // &::after {
      //   border-color: $button-warning-border-color;
      // }
      &#{$name}--ghost {
        color: $button-warning-background-color;
        border-color: $button-warning-border-color;
        &::after {
          border-color: $button-warning-border-color;
        }
      }
      &#{$name}--shadow {
        box-shadow: $button-warning-box-shadow;
      }
    }
  }
  &--s {
    &-large {
      height: $button-large-height;
      padding: 0 20px;
      font-size: $button-large-font-size;
      &#{$name}--round {
        border-radius: $button-large-height;
      }
    }
    &-normal {
      height: $button-normal-height;
      padding: 0 15px;
      font-size: $button-normal-font-size;
      &#{$name}--round {
        border-radius: $button-normal-height;
      }
    }
    &-small {
      height: $button-small-height;
      padding: 0 10px;
      font-size: $button-small-font-size;
      &#{$name}--round {
        border-radius: $button-small-height;
      }
    }
    &-tiny {
      height: $button-tiny-height;
      padding: 0 5px;
      font-size: $button-tiny-font-size;
      transform: scale(0.83333);
      &#{$name}--round {
        border-radius: $button-tiny-height;
      }
    }
  }
  &--reverse {
    flex-direction: row-reverse;
  }
  &--block {
    display: flex;
  }
  &--ghost {
    @include pixelBorder();
    box-shadow: none;
    background-color: transparent;
  }
  &--disabled {
    opacity: 0.6;
  }
  &--square {
    border-radius: 0;
    &::after {
      border-radius: 0 !important;
    }
  }
}
