html,
body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  background: #f2f4f9;
}

.caf {
  &-markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.5;
      font-weight: 400;
      color: #333;
    }
    h1 {
      margin: 0 0 20px;
    }
    h2 {
      font-size: 20px;
      margin: 45px 0 20px;
    }
    h3 {
      margin-top: 20px;
    }
    code {
			border-radius: 4px;
			br {
				display: block;
			}
    }
    [class*="language"] {
      background: #f7f7f7;
      line-height: 24px;
      border-radius: 8px;
      overflow-x: auto;
    }
    pre {
      margin: 0;
		}
		ul, ol, li {
			list-style: none;
		}
		ul, ol {
			margin-top: 20px;
		}
		br {
			height: 0;
			display: none;
		}
    table {
      width: 100%;
      margin-top: 12px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 10px;
      overflow: hidden;
      border-collapse: collapse;
      color: #34495e;
      word-wrap: break-word;
      th {
        padding: 12px;
        background-color: #f8f8f8;
      }
      td {
        padding: 10px;
        text-align: center;
        border: 1px solid #f5f5f5; /* no */
        font-weight: 300;
      }
      th, td {
        min-width: 80px;
      }
      code {
        margin: 2px 3px;
        padding: 2px 5px;
        display: inline-block;
        background-color: #fafafa;
        font-size: 12px;
        word-break: break-all;
        white-space: pre-wrap;
      }
    }
    &-hover {
      position: relative;
      padding-bottom: 2px;
      border-bottom: 1px solid #59b4bd;/* no */
      &:hover::after {
        content: attr(data-desc);
        display: block;
        position: absolute;
        top: -200%;
        left: -70px;
        width: 200px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 2px 8px #f2f2f2;
        line-height: 18px;
      }
    }
  }
  &-demo {
    &-block {
      background-color: #fff;
      padding: 10px 15px;
      & + & {
        margin-top: 10px;
      }
    }
    &-title {
      padding: 20px 15px 15px;
      color: #666;
      font-size: 16px;
      &-addition {
        margin-top: 5px;
        font-size: 12px;
        color: #aaa;
        b {
          margin: 0 5px;
        }
      }
    }
  }
}

