html,
body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
  background: #f2f4f9;
}

.caf {
  &-markdown {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      line-height: 1.5;
      font-weight: 400;
      color: #333;
    }
    h1 {
      margin: 0 0 20px;
    }
    h2 {
      font-size: 20px;
      margin: 45px 0 20px;
    }
    h3 {
      margin-top: 20px;
    }
    code {
      position: relative;
			display: inline-block;
			vertical-align: middle;
			margin: 0 5px;
			padding: 2px 5px;
			border-radius: 4px;
      font-size: 13px;
      font-weight: 400;
      overflow-x: auto;
      word-break: break-all;
      white-space: pre-wrap;
      color: #455a64;
      font-family: monospace;
      background: #f3f3f3;
      &[class*="language"] {
        background: #f7f7f7;
        line-height: 24px;
        padding: 10px 15px;
        border-radius: 8px;
        margin: 20px 0 0;
        display: block;
      }
      .hljs-comment {
        display: block;
			}
			br {
				display: block;
			}
    }
    pre {
      margin: 0;
		}
		ul, ol, li {
			list-style: none;
		}
		ul, ol {
			margin-top: 20px;
		}
    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      background: #fff;
    }
    .hljs-subst {
      color: #455a64;
    }
    .hljs-addition,
    .hljs-meta,
    .hljs-string,
    .hljs-symbol,
    .hljs-template-tag,
    .hljs-template-variable {
      color: #9d8be6;
    }
    .hljs-comment,
    .hljs-quote {
      color: #999;
    }
    .hljs-bullet,
    .hljs-link,
    .hljs-literal,
    .hljs-number,
    .hljs-regexp {
      color: #07c160;
    }
    .hljs-deletion,
    .hljs-variable {
      color: #88f;
    }
    .hljs-built_in,
    .hljs-doctag,
    .hljs-keyword,
    .hljs-name,
    .hljs-section,
    .hljs-selector-class,
    .hljs-selector-id,
    .hljs-selector-tag,
    .hljs-strong,
    .hljs-tag,
    .hljs-title,
    .hljs-type {
      color: #68b0d2;
    }
    .hljs-emphasis {
      font-style: italic;
    }
    .hljs-attribute {
      color: #e6550d;
		}
		br {
			height: 0;
			display: none;
		}
    table {
      width: 100%;
      margin-top: 12px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 10px;
      overflow: hidden;
      border-collapse: collapse;
      color: #34495e;
      word-wrap: break-word;
      th {
        padding: 12px;
        background-color: #f8f8f8;
      }
      td {
        padding: 10px;
        text-align: center;
        border: 1px solid #f5f5f5; /* no */
        font-weight: 300;
      }
      th, td {
        min-width: 80px;
      }
      code {
        margin: 2px 3px;
        padding: 2px 5px;
        display: inline-block;
        background-color: #fafafa;
        font-size: 12px;
      }
    }
  }
  &-demo {
    &-block {
      background-color: #fff;
      padding: 10px 15px;
      & + & {
        margin-top: 10px;
      }
    }
    &-title {
      padding: 20px 15px 15px;
      color: #666;
      font-size: 16px;
      &-addition {
        margin-top: 5px;
        font-size: 12px;
        color: #aaa;
        b {
          margin: 0 5px;
        }
      }
    }
  }
}

