@import '../style/_var.scss';
@import '../style/mixins/_border.scss';
$name: '.caf-switch';
#{$name} {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: $switch-width;
  height: $switch-height;
  border-radius: $switch-height;
  background-color: $switch-background-color;
  // @include pixelBorder(rgba(0, 0, 0, .1));
  box-shadow: 0 4px 8px -2px $switch-background-color;
  margin-bottom: -4px;
  transition: background-color 0.3s;
  font-size: $switch-size;
  &__circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1px;
    margin: auto;
    z-index: 1;
    width: $switch-circle-width;
    height: $switch-circle-height;
    border-radius: $switch-circle-radius;
    background-color: $switch-circle-background-color;
    transition: .3s;
  }
  .caf-loading {
    padding: 7px 0;
  }
  &--on {
    background-color: $switch-active-background-color;
    box-shadow: 0 4px 8px -2px $switch-active-background-color;
    #{$name}__circle {
      transform: translateX(1em);
      background-color: $switch-circle-on-background-color;
    }
  }
  &--disabled {
    opacity: .4;
  }
}