
// color
$blue: #6595d0 !default;
$red: #e27777 !default;
$green: #d5edef !default;
$grey: #e6e6e6 !default;
$white: #fff  !default;

$box-shadow-default-color: #e6e6e6 !default;

$color_theme: #3f77f6 !default;
// margin
$horizontal-distance: 15px;

// border
$border-color: #dedede !default;
$border-radius-sm: 2px !default;
$border-radius-md: 4px !default;
$border-radius-card: 16px !default;


// font
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-md: 14px !default;
$font-size-lg: 16px !default;
$font-weight-bold: 500;

// action-sheet 
$action-sheet-width: 94%;
$action-sheet-max-height: 70% !default;
$action-sheet-background-color: #fff !default;
$action-sheet-border-radius: $border-radius-card !default;
$action-sheet-margin-bottom: 15px !default;
$action-sheet-mask-background-color: rgba(0, 0, 0, 0.4) !default;
$action-sheet-title-padding: 10px 20px !default;
$action-sheet-title-font-size: 16px!default;

// button
$button-tiny-height: 24px !default;
$button-tiny-padding: 0 5px !default;
$button-tiny-font-size: $font-size-xs !default;
$button-small-height: 28px !default;
$button-small-padding: 0 10px !default;
$button-small-font-size: $font-size-sm !default;
$button-normal-height: 42px !default;
$button-normal-padding: 0 15px !default;
$button-normal-font-size: $font-size-md !default;
$button-large-height: 50px !default;
$button-large-padding: 0 20px !default;
$button-large-font-size: $font-size-lg !default;

$button-default-background-color: $white !default;
$button-default-border-color: $border-color !default;
$button-default-box-shadow: 0 3px 8px #e6e6e6 !default;

$button-primary-color: $white !default;
$button-primary-background-color: $blue !default;
$button-primary-border-color: $blue !default;
$button-primary-box-shadow: 0 3px 8px $blue  !default;

$button-warning-color: $white !default;
$button-warning-background-color: $red !default;
$button-warning-border-color: $red !default;
$button-warning-box-shadow: 0 3px 8px $red  !default;

$button-cancel-color: #a2a2a2 !default;
$button-cancel-background-color: $grey !default;
$button-cancel-border-color: $grey !default;
$button-cancel-box-shadow: 0 3px 8px $grey  !default;

// action-bar
$action-tip-color: #96b3a2 !default;
$action-tip-font-size: 12px !default;
$action-tip-background-color: $green !default;

// switch
$switch-background-color: $green !default;
$switch-active-background-color: $blue !default;
$switch-size: 32px !default;
$switch-height: 1em !default;
$switch-width: 2em !default;
$switch-circle-width: 0.9em !default;
$switch-circle-height: 0.9em !default;
$switch-circle-radius: 1em !default;
$switch-circle-background-color: $white !default;
$switch-circle-on-background-color: $white !default;

// search-bar
$search-bar-height: 42px !default;
$search-bar-margin-bottom: 12px !default;
$search-bar-padding: 10px 15px 10px 10px !default;
$search-bar-icon-color: #aaa !default;
$search-bar-input-color: #333 !default;
$search-bar-placeholder-color: #ccc !default;

// stepper
$stepper-height: 32px !default;
$stepper-background-color: $blue !default;
$stepper-input-color: $white !default;
$stepper-disabled-color: rgba(255, 255, 255, .5) !default;
$stepper-input-min-width: 28px !default;
$stepper-input-max-width: 28px !default;
$stepper-input-font-size: 18px !default;
$stepper-btn-width: $stepper-height !default;
$stepper-btn-minus-background-color: #f2f2f2 !default;
$stepper-btn-plus-background-color: $blue !default;
$stepper-btn-plus-color: rgba(255, 255, 255, .6) !default;
$stepper-btn-minus-color: rgba(255, 255, 255, .6) !default;
$stepper-btn-minus-size: 10px !default;
$stepper-btn-plus-size: 10px !default;
$stepper-icon-thick: 1px !default;
$stepper-icon-percent: 32% !default;

//noticebar
$noticebar-height: 40px !default;$noticebar-border-radius: $noticebar-height !default;
$noticebar-line-height: 24px !default;
$noticebar-notice-background-color: #ececec !default;
$noticebar-notice-color: #8e8e8e !default;
$noticebar-error-background-color: #f9caca !default;
$noticebar-error-color:#ec8888 !default;
$noticebar-warning-background-color: #fbf5d9 !default;
$noticebar-warning-color: #f7a76e !default;
$noticebar-success-background-color: #c4ead3 !default;
$noticebar-success-color: #5eb19f !default;

// steps
$steps-normal-color: $grey !default;
$steps-success-color: $blue !default;
$steps-failed-color: $red !default;
$steps-decimal-size: 18px !default;
$steps-decimal-font-size: 10px !default;
$steps-circle-size: 8px !default;
$steps-content-desc-font-size: 10px !default;
$steps-content-desc-margin: 4px 0 0 0 !default;
$steps-content-desc-padding: 0 4px !default;
$steps-content-title-font-size: 12px !default;
$steps-content-title-line-height: 18px !default;

$steps-vertical-padding: 0 15px !default;
$steps-vertical-block-size: 40px !default;
$steps-vertical-block-margin-top: 20px !default;
$steps-vertical-block-margin-left: 36px !default;

$steps-horizontal-padding: 15px 0 !default;
$steps-horizontal-content-margin: 8px 0 0!default;

// tabs
$tabs-item-min-width: 25%;
$tabs-unactived-color: #ababab !default;
$tabs-nav-slider-height: 42px !default;
$tabs-nav-slider-background-color: #fff !default;
$tabs-nav-slider-border-radius: 0 0 16px 16px !default;
$tabs-nav-slider-box-shadow: 0 4px 8px #eee !default;
$tabs-nav-slider-actived-color: $blue !default;
$tabs-nav-slider-ink-height: 2px !default;
$tabs-nav-slider-ink-bottom: 3px !default;
$tabs-nav-slider-ink-width: 20px !default;
$tabs-nav-slider-ink-border-radius: $tabs-nav-slider-ink-height !default;
$tabs-nav-slider-actived-ink-background-color: $blue !default;

$tabs-nav-contrast-height: 42px !default;
$tabs-contrast-item-color: #aaa !default;
$tabs-contrast-item-font-size: 12px !default;
$tabs-contrast-ink-height: 4px !default;
$tabs-contrast-ink-width: 4px !default;
$tabs-contrast-item-actived-transform: scale(1.1) !default;
$tabs-contrast-item-actived-font-size: 16px !default;
$tabs-contrast-item-actived-font-weight: bold !default;
$tabs-contrast-item-actived-color: #555 !default;

$tabs-nav-round-height: 32px !default;
$tabs-nav-round-background: #fff !default;
$tabs-nav-round-actived-background: $blue !default;
$tabs-nav-round-actived-background-color: $blue !default;
$tabs-nav-round-color: #fff;