

@import '../style/_var.scss';
$name: '.caf-tabs';
#{$name} {
  display: block;
  width: 100%;
  min-width: 320px;
  max-width: 480px;
  margin: auto;
  &__item {
    position: relative;
    
    height: 100%;
    min-width: 20%;
    color: $tabs-unactived-color;
    text-align: center;
    font-weight: 500;
    font-weight: normal;
    &__inner {
      position: relative;
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }
    &--actived {
      color: $tabs-actived-color;
    }
  }
  &__panel {
    display: none;
    &--actived {
      display: block;
    }
  }
  &__main {
    margin-top: 10px;
  }
  &__nav {
    position: relative;
    z-index: 5;
    overflow: auto;
    width: 100%;
    margin: auto;
    &__content {
      display: flex;
      align-items: center;
      height: 42px;
    }
    &--slider {
      background: #fff;
      border-radius: 0 0 16px 16px;
      box-shadow: 0 4px 8px #eee;
      // border-bottom: 1px solid #eee;
      #{$name} {
        &__item {
          flex: 1;
        }
        &__nav__ink {
          position: absolute;
          bottom: 0;
          left: 0;
          display: inline-block;
          height: $tabs-ink-height;
          width: $tabs-ink-width;
          border-radius: $tabs-ink-border-radius;
          background-color: $tabs-actived-color;
          transition: transform .3s;
        }
      }
    }
    &--card {

    }
    &--hightlight {
      #{$name} {
        &__item {
          font-size: $tabs-hightlight-item-font-size;
          color: $tabs-hightlight-item-color;
          transition: all .3s ease-in-out;
          &--actived {
            font-size: $tabs-hightlight-item-actived-font-size;
            font-weight: $tabs-hightlight-item-actived-font-weight;
            color: $tabs-hightlight-item-actived-color;
          }
        }
      }
    }
  }
}