@import '../style/mixins/_border.scss';
@import '../style/_var.scss';
$name: '.caf-cell';
#{$name} {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  &__wrapper {
    position: relative;
    z-index: 1;
    transition: transform 0.3s;
  }
  &__main {
    display: flex;
    width: 100%;
    position: relative;
    padding: $cell-padding;
    line-height: $cell-line-height;
    background-color: $cell-background-color;
    box-sizing: border-box;
    .caf-checkbox {
      width: 20px;
      &__label {
        display: none;
      }
    }
    & > .caf-icon {
      min-width: 1em;
      &:first-child {
        padding: 0 8px 0 5px;
      }
      &:last-child {
        padding: 0 5px 0 8px;
      }
    }
  }
  &__swiper {
    position: absolute;
    left: 100%;
    top: 0;
    display: table;
    table-layout: fixed;
    height: $cell-swiper-height;
    &__item {
      display: table-cell;
      vertical-align: middle;
      min-width: $cell-swiper-min-width;
      padding: $cell-swiper-padding;
      text-align: center;
      color: $white;
      line-height: 1;
      background-color: $cell-swiper-background-color;
    }
  }
  &__title {
    flex: 1;
  }
  &__label {
    margin: $cell-label-margin;
    font-size: $cell-label-font-size;
    color: $cell-label-color;
    line-height: $cell-label-line-height;
  }
  &__value {
    position: relative;
  }
  &--border {
    @include pixelBorder($cell-border-color);
    & + #{$name}--border {
      margin-top: -1px;
    }
  }
  &--middle {
    #{$name}__main {
      align-items: center;
    }
  }
}

.caf-cellgroup {
  &__title {
    padding: $cellgroup-title-padding;
    color: $cellgroup-title-color;
    font-size: $cellgroup-title-font-size;
    line-height: $cellgroup-title-line-height;
  }
  &__wrapper {
    position: relative;
    border-radius: $cellgroup-wrapper-border-radius;
    overflow: hidden;
    &--border {
      position: relative;
      // @include pixelBorder( #eee);
    }
    @include pixelBorder(transparent);
  }
}
