@import '../style/_var.scss';
@import '../style//mixins/border.scss';
$name: '.caf-radio';
#{$name} {
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: $radio-height;
    padding: $radio-padding;
    box-sizing: border-box;
    &__content {
      flex: 1;
    }
    &__icon {
      position: relative;
      width: $radio-icon-size;
      height: $radio-icon-size;
      @include pixelBorder();
      background-color: $radio-icon-color;
      color: $radio-icon-color;
      border-radius: 50%;
      overflow: hidden;
      &__indicator {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: $white;
        // transform: scale();
        transition: transform 0.3s ease-in-out;
      }
    }
    &--checked {
      #{$name}-item {
        &__icon {
          &__indicator {
            transform: scale(0.5);
          }
        }
      }
    }
    &--disabled {
      opacity: $radio-disabled-opacity;
    }
    &--rtl {
      flex-direction: row-reverse;
      #{$name}-item {
        &__content {
          text-align: right;
        }
      }
    }
  }
}
