html, body {
	font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	background: #f4f4f4;
}

h1 {
	text-align: center;
}

.caf {
	&-markdown {
		h1 {

		}
		h2 {

		}
		pre {

		}
		code.language-jsx {
			background-color: #eee;
			border-radius: 8px;
			padding: 15px;
			width: 100%;
		}
		table {

		}
	}
	&-doc {

	}
}
@media (min-width: 768px) {

}

@media (min-width: 768px) {
	
}