@import '../style/mixins/_border.scss';
@import '../style/variables/color.scss';
$name: '.caf-checkbox';
$activeColor: $color_theme_blue;

$size_normal: 30px;
#{$name} {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: hidden;
  user-select: none;
  height: $size_normal;
  padding: 0 15px;
  &-groud {
    position: relative;
    z-index: 2;
  }
  &-input {
    display: flex;
    align-items: center;
    &, input {
      height: $size_normal;
    }
    input {
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
    }
    &-inner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      &:not(#{$name}-input-inner__custom) {
        border-radius: 50%;
        background-color: #fff;
        color: transparent;
        @include pixelBorder(50%, #ccc);
        text-align: center;
      }
    }
  }
  &-label {
    padding-left: 8px;
  }
  &__checked {
    color: $activeColor;
    #{$name} {
      &-input {
        &-inner {
          &:not(#{$name}-input-inner__custom) {
            background-color: $activeColor;
            color: #fff;
            @include pixelBorder(50%, $activeColor);
          }  
        }
      }
    }
  }
  &__disabled {
    color: #bbb;
    #{$name} {
      &-input {
        &-inner {
          &:not(#{$name}-input-inner__custom) {
            &::after {
              border-color: #e6e6e6;
            }
          }  
        }
      }
    }
  }
}