@import '../../style/variables/color.scss';
$name: '.caf-navbar';
#{$name} {
  display: flex;
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  align-items: center;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  user-select: none;
  &-title {
    flex: 1;
    color: #323232;
    font-weight: 500;
    text-align: center;
    font-size: 16px;
  }
  &-btn {
    position: relative;
    &-badge {
      position: absolute;
      display: inline-block;
      background-color: #ff5b05;
      min-width: 8px;
      font-size: 12px;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      height: 8px;
      width: 8px;
      border-radius: 50%;
      &:not(:empty) {
        line-height: 18px;
        height: 18px;
        width: auto;
        max-width: 25px;
        padding: 0 5px;
        border-radius: 18px;
      }
    }
    .caf-icon {
      margin-right: 5px;
      vertical-align: middle;
      & + #{$name}-btn-badge {
        right: -3px;
        top: 3px;
      }
    }
    &-text {
      color: $color_theme_blue;
      vertical-align: middle;
      &[data-badged='1'] {
        padding-right: 20px;
      }
      & + #{$name}-btn-badge {
        right: 0;
        top: 3px;
      }
    }
    &__left {
      padding: 0 10px 0 0;
    }
    &__right {
      padding: 0 0 0 10px;
    }
  }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}