@import '../style/_var.scss';
$name: '.caf-navbar';
#{$name} {
  display: flex;
  width: 100%;
  padding: $navbar-padding;
  box-sizing: border-box;
  align-items: center;
  height: $navbar-height;
  line-height: $navbar-line-height;
  background-color: $navbar-background-color;
  user-select: none;
  &__title {
    flex: 1;
    color: $navbar-title-color;
    font-weight: $navbar-title-font-weight;
    text-align: center;
    font-size: $navbar-title-font-size;
  }
  &__btns {
    position: absolute;
    display: flex;
    &--left {
      left: $horizontal-distance;
      #{$name}__btn {
        padding: $navbar-btn-left-padding;
      }
    }
    &--right {
      right: $horizontal-distance;
      #{$name}__btn {
        padding: $navbar-btn-right-padding;
      }
    }
  }
  &__btn {
    position: relative;
    &__badge {
      position: absolute;
      display: inline-block;
      background-color: $navbar-badge-background-color;
      min-width: 8px;
      font-size: $navbar-badge-font-size;
      color: #fff;
      white-space: nowrap;
      text-align: center;
      height: $navbar-badge-empty-height;
      width: $navbar-badge-empty-width;
      border-radius: 50%;
      &:not(:empty) {
        line-height: $navbar-badge-height;
        height: $navbar-badge-height;
        width: auto;
        max-width: $navbar-badge-min-width;
        padding: $navbar-badge-padding;
        border-radius: $navbar-badge-border-radius;
      }
    }
    .caf-icon {
      margin-right: 5px;
      vertical-align: middle;
      & + #{$name}-btn-badge {
        right: $navbar-badge-right;
        top: $navbar-badge-top;
      }
    }
    &__text {
      color: $navbar-btn-text-color;
      vertical-align: middle;
      & + #{$name}__btn__badge {
        right: $navbar-badge-right;
        top: $navbar-badge-top;
      }
      &--badged {
        padding: $navbar-btn-badged-padding;
      }
    }
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
  }
}
