@mixin borderProps {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-style: solid;
  border-width: 1px;
  transform-origin: top left;
}
@mixin pixelBorder($radius: 0px, $color: false) {
  border-style: solid;
  border-width: 1px;
  border-color: $color;
  z-index: 2;
  /* 2倍屏 */
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
    border: none;
    &::after {
      content: '';
      width: 200%;
      height: 200%;
      transform: scale(0.5);
      @include borderProps;
      @if $color {
        border-color: $color;
      }
      @if unitless($radius) {
        border-radius: $radius;
      } @else {
        border-radius: $radius * 2;
      }
    }
  }
  /* 3倍屏 */
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
    border: none;
    &::after {
      content: '';
      width: 300%;
      height: 300%;
      transform: scale(0.33);
      @include borderProps;
      @if $color {
        border-color: $color;
      }
      @if unitless($radius) {
        border-radius: $radius;
      } @else {
        border-radius: $radius * 3;
      }
    }
  }
}
