@import '../style/variables/color.scss';
$name: '.caf-switch';
#{$name} {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .1);
  transition: background-color 0.3s;
  font-size: 32px;
  &-circle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff;
    transition: .3s;
  }
  .caf-loading {
    padding: 8px 0;
  }
  &__on {
    background-color: $color_theme_blue;
    #{$name}-circle {
      transform: translateX(1em);
    }
  }
  &__disabled {
    opacity: .4;
  }
}