@import '../style/var.scss';
@import '../style/mixins/_border.scss';
$name: '.caf-grid';
#{$name} {
  display: flex;
  flex-wrap: wrap;
  word-break: break-all;
  &__item {
    position: relative;
    box-sizing: border-box;
    &__inner {
      display: flex;
      position: relative;
      flex-direction: column;
      box-sizing: border-box;
      height: 100%;
      padding: $grid-item-padding;
      background-color: $grid-item-background-color;
    }
  }
  &--square {
    #{$name}__item {
      height: 0;
      &__inner {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
      }
    }
  }
  &--border {
    #{$name}__item__inner {
      margin: -1px;
      @include pixelBorder(#eee);
    }
  }
  &--surround {
    #{$name}__item__inner {
      @include pixelBorder(#eee);
    }
  }
  &--center {
    #{$name}__item {
      &__inner {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }
}