@import '../../style/mixins/_border.scss';

.caf-cell {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  &-wrapper {
    transition: transform 0.3s;
  }
  &-main {
    display: flex;
    width: 100%;
    position: relative;
    padding: 10px 15px;
    line-height: 24px;
    font-size: 14px;
    background-color: #fff;
    box-sizing: border-box;
    .caf-checkbox {
      width: 20px;
      &-label {
        display: none;
      }
    }
    & > .caf-icon {
      min-width: 1em;
      &:first-child {
        padding: 0 8px 0 5px;
      }
      &:last-child {
        padding: 0 5px 0 8px;
      }
    }
  }
  &-swiper {
    position: absolute;
    left: 100%;
    top: 0;
    display: table;
    table-layout: fixed;
    height: 44px;
    &-item {
      display: table-cell;
      vertical-align: middle;
      min-width: 50px;
      padding: 0 10px;
      text-align: center;
      color: #fff;
      line-height: 1;
      background-color: #969799;
    }
  }
  &-title {
    flex: 1;
  }
  &-label {
    margin-top: 3px;
    font-size: 12px;
    color: #969799;
    line-height: 18px;
  }
  &-value {
    position: relative;
  }
  &__border {
    &::after {
      content: '';
      position: absolute;
      box-sizing: border-box;
      left: 15px;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #eee;
      transform: scaleY(0.5);
    }
  }
  &__middle {
    .caf-cell-main {
      align-items: center;
    }
  }
}

.caf-cellgroup {
  &-title {
    padding: 15px 15px 10px;
    color: #999;
    font-size: 14px;
    line-height: 16px;
  }
  &-wrapper {
    position: relative;
    &__border {
      position: relative;
      @include pixelBorder(0, #eee);
    }
    @include pixelBorder(6px, transparent);
  }
}
