@import '../style/var.scss';

.caf-page {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  margin: $page-margin;
  // &__btn {
  //   height: $page-button-height;
  //   line-height: $page-button-height;
  //   width: $page-button-width;
  //   border-radius: $page-button-border-radius;
  //   color: $page-button-color;
  //   appearance: none;
  //   border: none;
  //   outline: none;
  //   background-color: $page-button-background-color;
  //   &:focus {
  //     background-color: $page-button-background-color;
  //   }
  //   &--disabled {
  //     color: $page-button-disabled-color;
  //     background-color: $page-button-disabled-background-color;
  //     &:focus {
  //       background-color: $page-button-disabled-background-color;
  //     }
  //   }
  // }
  &__indicator {
    margin: auto;
    padding: $page-indicator-padding;
  }
  &__dot {
    margin: auto;
    height: $page-dot-height;
    &__item {
      display: inline-block;
      height: $page-dot-item-height;
      width: $page-dot-item-width;
      border-radius: 50%;
      margin: $page-dot-item-margin;
      background-color: $page-dot-item-background-color;
      &--current {
        background-color: $page-dot-item-current-background-color;
      }
    }
  }
}