$name: '.caf-loading';
#{$name} {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: 10px;
  &__text {
    color: #969799;
    margin: 0 0 0 10px;
  }
  &--vertical {
    flex-direction: column;
    #{$name}__text {
      margin: 10px 0 0 0 ;
    }
  }
}