$name: '.caf-btn';
$color_primary: #4f81bf;
$color_warning: #e46060;
#{$name} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  border-style: solid;
  border-width: 1px;/* no */
  &-icon {
    padding: 0 5px;
  }
  &__t {
    &_default {
      background-color: #fff;
      border-color: #eee;
    }
    &_primary {
      background-color: $color_primary;
      border-color: $color_primary;
      color: #fff;
      &#{$name}__ghost {
        color: $color_primary;
      }
    }
    &_warning {
      background-color: $color_warning;
      border-color: $color_warning;
      color: #fff;
      &#{$name}__ghost {
        color: $color_warning;
      }
    }
  }
  &__s {
    &_large {
      height: 50px;
      padding: 0 20px;
      font-size: 16px;‘
      &#{$name}__round {
        border-radius: 50px;
      }
    }
    &_normal {
      height: 42px;
      padding: 0 15px;
      font-size: 14px;
      &#{$name}__round {
        border-radius: 42px;
      }
    }
    &_small {
      height: 36px;
      padding: 0 10px;
      font-size: 12px;
      &#{$name}__round {
        border-radius: 36px;
      }
    }
    &_tiny {
      height: 24px;
      padding: 0 5px;
      font-size: 12px;
      transform: scale(0.83333)；
      &#{$name}__round {
        border-radius: 24px;
      }
    }
  }
  &__reverse {
    flex-direction: row-reverse;
  }
  &__block {
    display: flex;
  }
  &__ghost {
    background-color: transparent;
  }
  &__disabled {
    opacity: .6;
  }
  &__loading {

  }
  &__square {
    border-radius: 0;
  }
}