.caf-cell {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  &-main {
    display: flex;
    position: relative;
    padding: 10px 15px;
    line-height: 24px;
    font-size: 14px;
    background-color: #fff;
    box-sizing: border-box;
  }
  &-title {
    flex: 1;
  }
  &-label {
    margin-top: 3px;
    font-size: 12px;
    color: #969799;
    line-height: 18px;
  }
  .caf-icon {
    min-width: 1em;
    &:first-child {
      padding: 0 8px 0 5px;
    }
    &:last-child {
      padding: 0 5px 0 8px;
    }
  }
  &__border {
    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      left: 15px;
      right: 0;
      bottom: 0;
      border-bottom: 1px solid #eee;
      transform: scaleY(0.5);
    }
  }
  &__middle {
    .caf-cell-main {
      align-items: center;
    }
  }
}
