.caf-collapse {
  &-header {
    position: relative;
    padding: 15px;
    background-color: #fff;
    color: #000;
    .caf-icon {
      position: absolute;
      right: 15px;
      transition: transform .3s;
    }
  }
  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s;
    &-wrapper {
      padding: 10px;
    }
  }
  &-item {
    &__disabled {
      .caf-collapse {
        &-header {
          color: #999;
        }
        &-content {
          
        }
      }
    }
    &[data-status='1'] {
      .caf-collapse {
        &-header {
          // color: #999;
          .caf-icon {
            transform: rotate(90deg);
          }
        }
        &-content {
          // max-height: 100000px;
        }
      }
    }
  }
}