
$color_theme_blue: #3f77f6;

$color_red: #fc6b25;
$color_grey: #a7a7aa;
$color_blue: #6bb2ff;
$color_lightwhite: #b1c3ff;
$color_lightblue: #92c7ff;

$height_header: 48px;

.ellipse {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  min-width: 320px;/* no */
  max-width: 480px;/* no */
}

.tabFixed {
  display: table;
  width: 100%;
  table-layout: fixed;
  box-sizing: border-box;
}

.tcMiddle {
  display: table-cell;
  vertical-align: middle;
}

.vhCenter {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}