@import '../style/_var.scss';

$name: '.caf-noticebar';
@keyframes caf-noticebar-display {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes caf-noticebar-display-infinite {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
#{$name} {
  display: flex;
  align-items: center;
  position: relative;
  height: $noticebar-height;
  border-radius: $noticebar-border-radius;
  line-height: $noticebar-line-height;
  padding: 0 15px;
  &__icon {
    .caf-icon {
      min-width: 26px;
      text-align: left;
    }
  }
  &__wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
    height: $noticebar-line-height;
  }
  &__content {
    position: absolute;
    &--scroll {
      white-space: nowrap;
      animation: caf-noticebar-display linear both;
      &-infinite {
        animation: caf-noticebar-display-infinite linear infinite both;
      }
    }
    &--ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%;
    }
  }
  &__action {
    padding-left: 5px;
    text-align: right;
    .caf-icon {
      text-align: center;
    }
  }
  &--wrapable {
    height: auto;
    padding: 8px 15px;
    #{$name} {
      &__content {
        position: relative;
        white-space: normal;
      }
      &__wrapper {
        height: auto;
      }
    }
  }
  &--notice {
    background-color: $noticebar-notice-background-color;
    color: $noticebar-notice-color;

    box-shadow: 0 4px 8px -2px $noticebar-notice-background-color;
  }
  &--error {
    background-color: $noticebar-error-background-color;
    color: $noticebar-error-color;

    box-shadow: 0 4px 8px -2px $noticebar-error-background-color;
  }
  &--warning {
    background-color: $noticebar-warning-background-color;
    color: $noticebar-warning-color;
    box-shadow: 0 4px 8px -2px $noticebar-warning-background-color;
  }
  &--success {
    background-color: $noticebar-success-background-color;
    color: $noticebar-success-color;
    box-shadow: 0 4px 8px -2px $noticebar-success-background-color;
  }
}
