.caf-swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
  user-select: none;
  &__container {
    height: 100%;
    // transition: transform .5s;
    &__item {
      float: left;
    }
  }
  &__indicator {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 10px;
    &__item {
      display: inline-block;
      height: 3px;
      width: 10px;
      position: relative;
      background-color: rgba(255, 255, 255, .4);
      &:not(:last-child) {
        margin-right: 5px;
      }
      &::before {
        content: '';
        position: absolute;
        right: 0;
        height: 100%;
        background-color: #fff;
        width: 0;
        transition: width .2s;
      }
      &--actived::before {
        left: 0;
        width: 100%;
      }
     }
  }
}