$sidewidth: 240px;
$headheight: 70px;

.caf-doc {
  display: flex;
  flex-direction: column;
  background-color: var(--themebg);
  &-head {
    display: flex;
    align-items: center;
    height: $headheight;
    line-height: $headheight;
    background-color: var(--theme);
    color: var(--textcolor);
    .head {
      &-icon {
        height: $headheight;
        width: 30px;
        
        text-align: center;
        // line-height: 36px;
        display: none;
        &__menu {
          padding-left: 20px;
          line-height: #{$headheight * 0.8};
        }
        &__github {
          
          display: block;
          background: url(../../assets/github.svg) no-repeat center/28px;
        }
        &__github, &__code {
          padding: 0 10px;
        }
      }
      &-bar {
        flex: 1;
        padding: 0 15px;
        &-logo {
          margin-top: 26px;
          height: 42px;
        }
      }
    }
  }
  &-body {
    position: relative;
    display: flex;
    flex: 1;
  }
  &-main {
    position: relative;
    display: flex;
    margin: 20px;
    flex: 1;
    background-color: var(--theme);
    border-radius: 16px;
    overflow: hidden;
  }
  &-side {
    
    width: $sidewidth;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 20;
    border-radius: 10px;
    margin: 20px 10px;
    box-sizing: border-box;
    overflow: hidden;
    &-wrapper {
      position: relative;
      width: $sidewidth;
      transition: transform 0.3s;
      height: 100%;
      box-sizing: border-box;
      padding: 10px 0 30px;
      overflow: auto;
      -webkit-overflow-scrolling: touch;
      z-index: 2;
      background: var(--theme);
    }
    &-mask {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.4);
      transition: opacity 0.3s;
    }
    .nav {
      // padding-left: 30px;
      &-head,
      &-item,
      &-name {
        display: block;
        padding: 15px 0 15px 25px;
        color: var(--textcolor);
        font-size: 14px;
      }
      &-head {
        padding: 10px 0 10px 25px;
        font-size: 12px;
        line-height: 30px;
      }
      &-name {
        font-size: 14px;
        color: var(--textcolor2);
        font-weight: bold;
      }
      &-item {
        padding-left: 34px;
        font-weight: 300;
        &__actived {
          color: #1989fa;
          background-color: var(--actived);

          font-weight: 500;
        }
        &:active {
          color: #1989fa;
        }
      }
    }
  }
  &-content {
    position: relative;
    padding: 30px 20px;
    height: calc(100vh - #{$headheight});
    overflow: auto;
    flex: 1;
    background-color: var(--theme);
    color: var(--textcolor);
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    border-radius: 10px;
  }
  &-simulator {
    position: relative;
    min-width: 375px; /* no */
    height: calc(100vh - #{$headheight});
    border-radius: 18px;
    margin: 0 20px 0 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: transform 0.3s;
    border: 1Px solid rgba(222, 222, 222, 0.3);
    iframe {
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;
    }
  }

  &-content, &-simulator {
    margin: 20px;
  }

  &-code {
    margin-top: 20px;
    border: 1px solid rgba(200, 200, 200, .3); /* no */
    border-radius: 14px;
    &-header {
      display: flex;
      padding: 15px 25px;
      border-bottom: 1px solid rgba(200, 200, 200, .3); /* no */
      font-size: 16px;
      .title {
        flex: 1;
      }
    }
    &-body {
      padding: 0 15px 15px;
      box-sizing: border-box;
      overflow: hidden;
      background-color: #444;
      max-height: 200px;
      overflow: hidden;
      transition-property: max-height;
      transition-timing-function: ease-in-out;
      border-radius: 0 0 14px 14px;
    }
    &-wrapper {
      line-height: 22px;
      [class="language-jsx"] {
        background-color: transparent!important;
        color: #f5e2aa!important;
      }
    }
  }
}
$sideName: '.caf-doc-side';
@media (max-width: 1200px) {
  .caf {
    &-doc {
      &-head {
        .head {
          &-icon {
            &__menu {
              display: block;
            }
          }
        }
      }
      &-main {
        margin: 20px;
      }
      &-side {
        position: fixed;
        width: 0;
        border-radius: 0;
        margin: #{$headheight} 0 0 0;
        &-wrapper {
          transform: translate3d(-100%, 0, 0);
          transition-delay: 0.3s;
        }
        &-mask {
          display: block;
          opacity: 0;
        }
        &[data-status='1'] {
          width: 100%;
          transform: width 0.01s 0.6s;
          #{$sideName}-wrapper {
            transform: translate3d(0, 0, 0);
          }
          #{$sideName}-mask {
            opacity: 1;
          }
        }
      }
      &-content {
        margin-left: 20px;
        table {
          table-layout: fixed;
        }
      }
    }
  }
}

@media (max-width: 860px) {
  .caf {
    &-doc {
      &-head {
        .head {
          &-icon {
            &__code {
              display: block;
            }
          }
        }
      }
      &-main {
        margin: 10px 10px 30px;
      }
      &-content {
        margin-top: 10px;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding: 20px;
      }
      &-simulator {
        position: absolute;
        min-width: auto;
        height: 100%;
        top: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        transform: translate3d(0, 100%, 0);
        &[data-status='1'] {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }
}
